[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]



[dev-packages]

"e1839a8" = {path = ".", editable = true}
mypy = "*"
coverage = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
coverage-badge = "*"
